#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
.vs/
Ankh.NoLoad
LubBackend/TestResults/*

#Tooling
_ReSharper*/
*.resharper
*.idea/
[Tt]est[Rr]esult*
*.sass-cache

#ExternalPackages
*/node_modules
*/bower_components/
LubFrontend/.tmp/
LubFrontend/dist/
LubBackend/dist/
LubBackend/LubBackend/logs
LubFrontend/Dist/
LubBackend/Dist/
LubBackend/LubBackend/node_modules/

#NuGet
packages/
*.nupkg